

#custom-choose-topping-page {
  display: none;
}

#custom-order-review-page {
  display: none
}

#custom-pizza-button {

}

#custom-size-page {
  text-align: center;
  display: none;
}

#customer-contact-page {
  display: none;
}

#enter-address-button {
  text-align: center;
}

#final-confirmation-page {
  display: none;
}

.header {
  text-align: center;
  background-color: gray;
}

#premade-pizza-button {


}

.center-buttons {
  text-align: center;
}

#topping-form {
  text-align: center;
}

#welcome-page {

}
