body {
  background-color: #D49B17;
}

.btn {
  background-color: #AFD417;
}

#custom-choose-topping-page {
  display: none;
}

#custom-order-review-page {
  display: none
}

#custom-size-page {
  text-align: center;
  display: none;
}

#customer-contact-page {
  display: none;
}

#enter-address-button {
  text-align: center;
}

#final-confirmation-page {
  display: none;
}

.header {
  text-align: center;
  background-color: #17AFD4;
  padding-top: 20px;
}

.center-buttons {
  text-align: center;
}

#topping-form {
  text-align: center;
}

.well {
  background-color: #17D49B;
}
